
{% extends 'base.html' %}

{% block body %}

<!-- <p>{{melons_in_cart}}</p>
<p>{{session.get("cart", {})}}</p>    
<p>{{total_order_cost}}</p> -->

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melons_in_cart %}
        <tr>
            <td>{{melon.common_name}}</td>
            <td>{{melon.quantity}}</td>
            <td>{{melon.price_str()}}</td>
            <td>{{"${:.2f}".format(melon.current_total_cost)}}</td>
        </tr>
        {% endfor %}
        </tbody>
        
    </table>

    <h3>Total: ${{total_order_cost}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
